<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Infos ville </h1>
    <p class="lead">En savoir plus sur l'auteur</p>
  </div>
</div>
  <p> 

  Sa ville : <%= @city.name %><br/>

  </p>